.git
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

.tmp-checks
.tmp-chrome-profile
artifacts
playwright-report
test-results
coverage

*.log
*.tsbuildinfo
/*.mp4
